# 1. Electricity bill Calculation.

In [27]:

electricity_units=int(input("enter units of electricity"))
if electricity_units <= 100:
    print("zero charge")
elif electricity_units>=100 and electricity_units<=200:
    print(electricity_units*5)
elif electricity_units>=200:
    print((electricity_units-150)*10)

enter units of electricity 350

2000

# 2.grade system

In [11]:
percentage=float(int(input("enter your percentage")))
if percentage>=90:
    print("grade-A")
elif percentage>80 and percentage<=90:
    print("grade-B")
elif percentage>=60 and percentage<=80:
    print("grade-C")
else:
    print("grade-D")

enter your percentage 90

grade-A

# 3.WHO is the youngest

In [19]:
first_user_age=int(input("enter your age"))
second_user_age=int(input("enter your age"))
third_user_age=int(input("enter your age"))
fourth_user_age=int(input("enter your age"))
if first_user_age<second_user_age and third_user_age and fourth_user_age:
    print("first user is youngest")
if second_user_age<first_user_age and third_user_age and fourth_user_age:
    print("second user is youngest")
if third_user_age<second_user_age and first_user_age and fourth_user_age:
    print("third user is youngest")
if fourth_user_age<second_user_age and third_user_age and first_user_age:
    print("fourth user is youngest")

enter your age 23
enter your age 34
enter your age 45
enter your age 56

first user is youngest

 # 4. bonus to employes

In [23]:
user_salary=int(input("enter your salary"))
service_time=int(input("enter your service time"))
if service_time>=10:
    print((user_salary)+(user_salary*10)/100)
elif service_time>=6 and service_time<=10:
    print((user_salary)+(user_salary*8)/100)
else:
    print((user_salary)+(user_salary*5)/100)

enter your salary 50000
enter your service time 6

54000.0

# 5. number is divisible by 5 or not

In [27]:
num=int(input("enter any number"))
rem=num%10
if rem%5==0:
    print("hello")
else: print("bye")

enter any number 55

hello

# 6. Print first largest and second largest number enter by user i the list

In [35]:
list1=[44,66,22,77,88,11,99,44]
list1.sort()
print("Second Largest Number:",  list1[-2])
print("Smallest Number:", list1[0])

Second Largest Number: 88
Smallest Number: 11

 # 7. to calculate net amount payable by the consumer , by input marked price

In [72]:
marked_price=int(input("enter marked price of item"))
if marked_price>10000:
    print(marked_price-((marked_price*20)/100))
elif marked_price>7000 and marked_price<=10000:
    print(marked_price-((marked_price*15)/100))
else:
     print(marked_price-((marked_price*10)/100))

enter marked price of item 20

18.0

# 8. imput marks of students and allots them streams

In [93]:
maths_marks=int(input("enter marks of MATHS"))
science_marks=int(input("enter marks of SCIENCE"))
social_studies_marks=int(input("enter marks of SOCIAL STUDIES"))
english_marks=int(input("enter marks of ENGLISH"))
if maths_marks>80 and science_marks>80 and social_studies_marks>80 and english_marks>80:
    print("Stream : Science")
elif english_marks>80 and maths_marks>50 and science_marks>50:
    print("Stream : commerce")
else: 
    print("Stream : humanities")

enter marks of MATHS 60
enter marks of SCIENCE 60
enter marks of SOCIAL STUDIES 33
enter marks of ENGLISH 89

Stream : commerce

# 9. check wheather the number is divisible by 3 or not

In [116]:
number=int(input("enter a number"))
rem=number%10
if rem%3==0:
    print ("number is divisible by 3")
else:
    print("number is not divisible by 3")

enter a number 26663667

number is not divisible by 3

# 10. to check wheather the entered number is thee digit or not

In [140]:
num1=int(input("enter any number"))
if num1>99 and num1<1000:
    print("YES it is three digit number ")
else:
    print("NO it is NOT three digit number ")

enter any number 999

YES it is three digit number

# 11. leap year

In [9]:
year = 200


if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
    
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

200 is not a leap year

# 12- To calculate area of triangle.

In [5]:
# area of triangle by heronse formulae.

import math

first_side=float(input("enter first side of triangle"))
second_side=float(input("enter second side of triangle"))
third_side=float(input("enter third side of triangle"))

perimeter=((first_side+second_side+third_side)/2)

area_of_triangle= math.sqrt( perimeter*((perimeter-first_side)*(perimeter-second_side)*(perimeter-third_side)))

print(f"Area of Triangle is {area_of_triangle}")

enter first side of triangle 3
enter second side of triangle 8
enter third side of triangle 9

Area of Triangle is 11.832159566199232

In [ ]:
# area of triangle 

a=float(input("height of triangle"))
b=float(input("base of triangle"))
c=(a*b)/2
print("area of triangle",c)

# 13- To check number is even or odd

In [7]:
user_input=int(input("Enter any number :"))
if user_input % 2 == 0 :
    print(f"{user_input}: is EVEN number")
else:
    print(f"{user_input}: is ODD number")

Enter any number : 45

45: is ODD number

# 14- sum of first natural numbers

In [71]:
number=int(input("enter any number"))
sum_of_number=0
i=1
while i <= number:
    sum_of_number=sum_of_number+i
    i=i+1
print(f"sum of first {number} natural number is {sum_of_number}")

enter any number 3

sum of first 3 natural number is 6