#                                                                                      Dictionary METHODS

#

# 1 - Clear (it will return empty  dictionary .)

In [100]:
my_dict={'name':'ashish','class':'python'}

my_dict.clear()
print(my_dict)

{}

# 2 - copy (it will copy the dictionary)

In [25]:
my_dict={'name':'ashish','class':'python'}

my_dict.copy()

{'name': 'ashish', 'class': 'python'}

# 3-  fromkey - (it will add default 'value' in the every'key' of dictionary).

In [30]:
key=['key1','key2','key3']            # here we want to add pytho in every 'key'
default_value='python'

new_vari=dict.fromkeys(key,default_value)      # take a new variable .

print(new_vari)

{'key1': 'python', 'key2': 'python', 'key3': 'python'}

In [9]:
my_dict={'name':'ashish','class':'python'}
my_dict.values()

dict_values(['ashish', 'python'])

# 4 - get (it will return the value of the key by providing the key.)

In [37]:
my_dict={'name':'ashish','class':'python'}
my_dict.get('name')

'ashish'

# 5 - item ( it will return thewhole dictionary in a list.)

In [39]:
my_dict={'name':'ashish','class':'python'}
my_dict.items()

dict_items([('name', 'ashish'), ('class', 'python')])

# 6 key - ( it will return only key of the dictionary.)

In [46]:
my_dict={'name':'ashish','class':'python'}
my_dict.keys()

dict_keys(['name', 'class'])

# 7- pop ( it will remove the specfic key and return the value of key.)

In [51]:
my_dict={'name':'ashish','class':'python'}
my_dict.pop('name')

'ashish'

In [53]:
my_dict                              # here 'name' key has been removed for the dictinary(mydict)

{'class': 'python'}

# 8 - popitem (it will remove the last (key , value) in the dictionary )

In [64]:
my_dict={'name':'ashish','class':'python','city':'delhi'}
my_dict.popitem()                                           # it will show output like which key and value is removed.

('city', 'delhi')

In [69]:
my_dict                                     # here (city,delhi) has been removed.

{'name': 'ashish', 'class': 'python'}

# 9 - setdefault  (it update the dictionary if the 'key' is not present in the dictionary.)

In [130]:
one={'name':'ashish','surname':'nagar'}
one.setdefault('name','rohan') # setdefault doest not update the dictionary if the key is already existing, 

print(one)

{'name': 'ashish', 'surname': 'nagar'}

In [131]:
one={'name':'ashish','surname':'nagar'}
one.setdefault('name1','rohan')             # here setdefault update the dictionary because the key'name1' is not existing in the dictionary.
                                                                            
print(one)

{'name': 'ashish', 'surname': 'nagar', 'name1': 'rohan'}

# 10 - update  ( it will uodate the first dictionary and assign them the value of second dictionary. )

In [135]:
one={'name':'ashish','surname':'nagar'}
two={'name':'rohan','surname':'singh'}

one.update(two)                             # the value of dictionary one has been updateded into the second dictionary,.

print(one)

{'name': 'rohan', 'surname': 'singh'}

# 11 - values  ( it will return the values of all the keys)

In [138]:
my_dict={'name':'ashish','class':'python','city':'delhi'}

my_dict.values()

dict_values(['ashish', 'python', 'delhi'])

#                                                        CLASS  WORK .

In [143]:
#  to access only single value, just give the name of key.

my_dict['name']

'ashish'

In [145]:
# for accessing all the values , keys in dictionary.
my_dict={'name':'ashish','class':'python'}
for key,value in my_dict.items():
    print(key)

name
class

In [146]:
# using for loop for accessing the particular values in the keys.
my_dict={'name':'ashish','class':'python'}
for key,value in my_dict.items():
    if key=='class':                               # here we want to access only class key.
        print(value)

python

In [147]:
# to update the 'values' of the 'key' in a dictionary.

my_dict={'name':'ashish','class':'python'}

my_dict['name'] = "rohan"
my_dict['class'] = "JAVA"

print(my_dict)

{'name': 'rohan', 'class': 'JAVA'}

In [151]:
# to access the '34' for the my_dict2.
# first etract the 'list' key and then perform indexing
# first [2] and then [1].


my_dict2={'name':'ashish','class':'python','city':'delhi',1:'this', (1,2,3):'my list','list1':[1,2,[3,34]]}
my_dict2['list1'][2][1]

34

In [153]:
# creating dictionary withe dict constructor.

my_dict3=dict(name='ashish kumar',subject='python basic')       # just take key as a varaibles.
print(my_dict3)

{'name': 'ashish kumar', 'subject': 'python basic'}

In [155]:
print(type(my_dict3))      # checking 'TYPE' of my_dict3.

<class 'dict'>

# * Adding a new key to a dictionary {}.

In [165]:
my_dict={'name':'ashish','class':'python'}

my_dict['roll.number']="222"
print(my_dict)

{'name': 'ashish', 'class': 'python', 'roll.number': '222'}

# Updating the dictionary.

In [161]:
one={'name':'ashish','surname':'nagar'}
two={'name':'rohan','surname':'singh'}

one.update(two)

print(one)

{'name': 'rohan', 'surname': 'singh'}

# setdefault - it update the dictionary if the key is not present otherwise it will return the existing value.

In [124]:
one={'name':'ashish','surname':'nagar'}
one.setdefault('name','rohan')             # setdefault doest not update the dictionary if the key is already existing,   
print(one)

{'name': 'ashish', 'surname': 'nagar'}

In [126]:
one={'name':'ashish','surname':'nagar'}
one.setdefault('name1','rohan')             # here setdefault update the dictionary because the key'name1' is not existing in the dictionary.
                                                                            
print(one)

{'name': 'ashish', 'surname': 'nagar', 'name1': 'rohan'}