# To unique element from list1 to unique_list.

In [126]:
list1=[1,2,3,2,2,3,3,4,6,7,8,9,9]
unique_list=[]
for item in list1:
    if item not in unique_list:
        unique_list.append(item)
        
print(unique_list)

[1, 2, 3, 4, 6, 7, 8, 9]

# To fetch only string elements fron the list.

In [137]:
list1=[1,22,34,56,"noida",43,"city",66]
string=[0]
for i in list1:
    if type(i)==str:
       print(i)

noida
city

# To add some elements of a list to a new list.

In [82]:
list1=[1,22,"ashish",34,56,"noida",43,"city",66]

removed_items=[]

list1.remove(34)
list1.remove(56)

removed_items.append(34)
removed_items.append(56)

print(removed_items)

[34, 56]

# flatten the list.

In [93]:
list1=[[1,2,3],[4,5,6],[3,5,7]]
flatten_list=[]
for outer_list in list1:
    for inner_item in outer_list:
        flatten_list.append(inner_item)
        
print(flatten_list)

[1, 2, 3, 4, 5, 6, 3, 5, 7]

# 1) append - (it will enter the element at the end of the list)

In [ ]:
list1=[1,2,3,4,5,6,7]
list1.append(9)
print(list1)

# 2) clear - (remove all the items in the list and return empty list[])

In [14]:
list1=[1,2,3,4,5,6,7]
list1.clear()
print(list1)

[]

# 3) copy - (return a copy of a list)

In [24]:
list1=[1,2,3,4,5,6,7]
list1.copy()
print(list1)

[1, 2, 3, 4, 5, 6, 7]

# 4) count- (return the number of frequency of a element in a list)

In [ ]:
list1=[1,2,3,4,5,6,7]
list1.count()

# 5 entend- (it will extend the list by any iterable item)

In [32]:
list1=[1,2,3,4,5,6,7]
list1.extend("ashish")
print(list1)

[1, 2, 3, 4, 5, 6, 7, 'a', 's', 'h', 'i', 's', 'h']

# 6) index - (it will return the index of the element in the list)

In [63]:
list1=[1,2,3,4,5,6,7]
index =list1.index(7)
print(index)

6

# 7) insert - (it will insert the element in the list (index,element) )

In [66]:
list1=[1,2,3,4,5,6,7]
list1.insert(3,9)
print(list1)

[1, 2, 3, 9, 4, 5, 6, 7]

# 8) pop - (it will remove the element after giving the particular index)

In [76]:
list1=[1,2,3,4,5,6,7]
list1.pop(6)
print(list1)

[1, 2, 3, 4, 5, 6]

# 9) remove - (it will remove the first occourance of element in the list by just providing the element)

In [79]:
list1=[1,2,3,4,5,6,7]
list1.remove(3)
print(list1)

[1, 2, 4, 5, 6, 7]

# 10) reverrse - ( it will reverse the element of list )

In [88]:
list1=[1,2,3,4,5,6,7]
list1.reverse()
print(list1)

[7, 6, 5, 4, 3, 2, 1]

# 11) sort - ( it will arange the list in ascemding order and decending order)

In [116]:
list1=[20,50,60,80,10,30]
list1.sort()                                                 # Ascending order
print(list1)

[10, 20, 30, 50, 60, 80]

In [118]:
list1=[20,50,60,80,10,30]
list1.sort(reverse=True)                                    #Descending order
print(list1)

[80, 60, 50, 30, 20, 10]