#    set {}  -  In Python, a set is a built-in data structure that is used to store an unordered collection of unique elements. This means that each element in a set is unique and cannot appear more than once.

#  charactherstics

 Unordered: 
The elements in a set do not have a specific order. This means that when you iterate over a set, the elements may appear in a different order than you added them.

Unique Elements: 
Sets automatically ensure that all elements are unique. If you try to add a duplicate element, it will not be included in the set.

*Mutable: 
Sets can be modified after creation. You can add or remove elements from a set.

No Indexing: 
Since sets are unordered, they do not support indexing, slicing, or other sequence-like behavior.

In [5]:
# creating set 
set1={1,}                           # if we give nothing in the {} the it became dictionary,
print(type(set1))

<class 'set'>

In [7]:
# creating set by constructor
set2=set()
print(type(set2))

<class 'set'>

#

#   set {} Methods.

#

# 1) - add   (it will add an elements in the end of the set. )

In [17]:
set1={1,2,3,4,5,6,7}

set1.add(8)                        # addind 8 and 9 in the set.
set1.add(9)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# 2) clear   - (it will remove all the elements of the cell and return empty cell )

In [20]:
set1={1,2,3,4,5,6,7}

set1.clear()

print(set1)

set()

# 3) copy   -  ( it will copy the set. )

In [23]:
set1={1,2,3,4,5,6,7}

set1.copy()

print(set1)

{1, 2, 3, 4, 5, 6, 7}

# 4) difference -  ( it will give the difference ,means the non common elements in new set (set3).)

In [73]:
set1={1,2,3,4,5,6,7}
set2={1,3,9,9,5}

set3=set1.difference(set2)

print(set3)

{2, 4, 6, 7}

# 5) - difference_update    (it will remove the common elemnets and return the remaining elemants  )

In [55]:
set1={1,2,3,4,5,6,7}
set2={1,3,9,9,5}

set1.difference_update(set2)          # here it remove the 1,3,5 from set1 because they are also present in set2.

print(set1)

{2, 4, 6, 7}

In [57]:
set1={1,2,3,4,5,6,7}
set2={1,3,9,9,8,5}

set2.difference_update(set1)          # here it remove the 1,3,5 from set2 because they are also present in set1.
                                          # and it give only 9,8 not 9,9,8 because repeate values not allowed in set.
print(set2)

{8, 9}

# 6)-  discard     (it will remove the elements for the set by providing the element in() )

In [59]:
set1={1,2,3,4,5,6,7}
set2={1,3,9,9,8,5}

set1.discard(3)

print(set1)

{1, 2, 4, 5, 6, 7}

# 7) intersection     -(it will return the common elements in the sets in the new set. )

In [62]:
set1={1,2,3,4,5,6,7}
set2={1,3,9,9,8,5}

set3=set1.intersection(set2)              # 1,3,5 are the comman elements in both the sets.

print(set3)

{1, 3, 5}

# 8) intersection_update   -  ( it will return the comman elements in the sets )

In [78]:
set1={1,2,3,4,5,6,7}
set2={1,3,9,9,8,5}
set1.intersection_update(set2)
print(set1)

{1, 3, 5}

In [92]:
set1={1,2,3,4,5,6,7}
set2={1,3,9,9,8,5}
set2.intersection_update(set1)
print(set2)

{1, 3, 5}

# 8) isdisjoint   -(  it will return True or False on the basis of comman or non commman elenents in the sets.)

In [99]:
set1={1,2,3,4,}
set2={1,2,4,6}
                           # it will return False if common valuse present in the sets.
set1.isdisjoint(set2)

False

In [101]:
set1={1,2,3,4}
set2={5,6,7,8}
                           # it will return True if common valuse is not present in the sets.
set1.isdisjoint(set2)

True

# 9) issubset  -   ( it will return True when all the elements of a set id present in another set and vise versa.)

In [110]:
set1={1,2,3,4,}
set2={1,2,4,3}
                         # all elements are comman in boyhe the sets 
                              # so it return 'TRUE'
set1.issubset(set2)

True

In [112]:
set1={1,2,3,4,}
set2={1,2,3,5}
                         # all elements are not comman in both the sets 
                              # so it return 'FALSE'
set1.issubset(set2)

False

# 10)    -  (  return true whwn all the elements are comman in bothe the se # or return false when elements are different

In [114]:
set1={1,2,3,4,}
set2={1,2,4,3}

set1.issuperset(set2)

True

In [116]:
set1={1,2,3,4}
set2={5,6,7,8}

set1.issuperset(set2)

False

# 11) pop  -  (it will remove the random element from the set)

In [119]:
# Python set pop() removes any random element from the set and returns the removed element.

my_set1={1,343,44,55,2,3}      

my_set1.pop()

print(my_set1)

{2, 3, 55, 44, 343}

# 12) remove   -  (it will remove the element if the elements in the set. other wise ti will give error ,but  discard () does't show error,  )
# even the element is not present in the set

In [128]:
my_set1={1,343,44,55}
my_set1.remove(55)     # if item not found in the set throws  error
print(my_set1)

{1, 44, 343}

# 13) symmetric_difference  -  ( it return the non comman elements in bothe the sets. )

In [157]:
set1={1,2,3,4,}
set2={1,2,4,6}

set1.symmetric_difference(set2)

{3, 6}

# 14) symmetric_difference_update  -  ( it will update the elemants of one sets with thw non comman elements of other set )

In [150]:
set1={1,343,44,55,2,3}       
set2={1,2,3,99}
set1.symmetric_difference_update(set2)
print(set1)

{99, 55, 44, 343}

# 15) union    -(  it will return the unique means non reparated elements of all the sets)

In [154]:
set1={1,2,2,3,3,4,5,6,7}
set2={1,2,4,4,6,8,9,10}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# 16)  -  (  it will uodate the value of one set withe values of other elements )

In [164]:
set1={1,2,3,4,}
set2={1,2,4,6}

set1.update(set2)      #   it does'nt give comman elements two times.

print(set1)

{1, 2, 3, 4, 6}

#  tuple()  -

In [185]:
# creating and checkng typy 
tup1=()
print(type(tup1))

<class 'tuple'>

In [183]:
#creating by constructor

tup1=tuple()

print(type(tup1))

<class 'tuple'>

# tuple has only two methods 
# * index
# * count

# 1) index  ( it will return the index of the elements)

In [189]:
tup1=(1,2,3,4,5,6) 
tup1.index(4)

3

# 2) count   -  (return the no. of occorence of value)

In [198]:
tup1=(1,2,3,3,3,3,4,4,5,6) 
tup1.count(4)

2

#     CLASS WORK

In [3]:
list1=[1,2,3,4,5]
list1= tuple(list1)

In [5]:
list1

(1, 2, 3, 4, 5)

 # set

In [13]:
# 1 unordered
# 2 no duplicate
# 3 no indexing,slicing

In [7]:
set1=(1,2,3,4,4,5)
set1.

{1, 2, 3, 4, 5}

In [25]:
my_set1={1,2,3,4}
my_set2={1,6,7,8}

my_set3 = my_set1.difference(my_set2)
my_set4 = my_set2.difference(my_set1)
print(my_set3)
print(my_set4)

{2, 3, 4}
{8, 6, 7}

In [29]:
my_set3 = my_set1.difference_update(my_set2)
print(my_set3)

None

In [39]:
my_set1={1,2,3,4}
my_set2={1,6,2,7,8}         # intersection return the common element of sets.
my_set1.intersection(my_set2)

{1, 2}

In [45]:
my_set1={1,2,3,4}
my_set2={1,6,2,7,8}         # it will update the set with the common elements. 
my_set1.intersection_update(my_set2)
print(my_set1)

{1, 2}

In [53]:
my_set1={1,2,3,4}
my_set2={6,7,8}                #  return true if thier is no common element
                                   
my_set1.isdisjoint(my_set2)     #  return false is thier is con=mmon element.

True

In [55]:
my_set1={1,2,3,4}
my_set2={6,7,8} 
my_set1.pop()

1