In [290]:
name=("hello ashish")
print(name)

hello ashish

# captialize
it will captialize the the fist word of the string.

In [293]:
name.capitalize()

'Hello ashish'

# casefold
it will give the same string in lower case

In [296]:
name.casefold()

'hello ashish'

# centre
it will align the string in the centre

In [299]:
liat1=[1,2,3,4,4,4,5,5]
list1.centre()

NameError: name 'list1' is not defined

# encode
it will encode the giving string.

In [302]:
name.encode()

b'hello ashish'

# endswith 
it will tell the ending characther of the string.

In [305]:
name=("hello ashish")
name.endswith("h")

True

# expandtab
it will apply the space and expand the string

In [308]:
name.expandtabs(32)

'hello ashish'

# find
it will tell the no. of characthers in the word

In [311]:
name=("hello ashish")
name.find("ashish")

6

# index
it will tell the fist index no. of the alphabet

In [314]:
name.index("o")

4

# is alnum
it tell's us that the string is alphanumeric or not

In [317]:
name=("ashish")
name.isalnum()

True

In [319]:
name.isalpha()

True

# isalpha
it will give us (true) when all the characthers in the strings is alphabets.

In [322]:
name=("12.6")
name.isalpha()

False

# isascii
it will give us true when all the values in the strigs is in ascii values.

In [325]:
name.isascii()

True

# isdecimal
it will give us true when all the cgaracthers in the strings is int.

In [328]:
name=("12a5")
name.isdecimal()

False

# isdigits
it will give us true when all the values in the strings is in the digits.

In [331]:
name=("123456")
name.isdigit()

True

# isidentifier
it will give us true when the value in the string is identified or have some meaning

In [334]:
name=("ashish123")
name.isidentifier()

True

# islower
it will return us true when all the characthers in the strings is in lower case.

In [337]:
name=("ASHISH")
name.islower()

False

# isnumeric
it will return us true when all characthers in the strings is in numbers/.

In [340]:
name=("13a2")
name.isnumeric()

False

# isprintable
return true when all the characthers in the strings is printable.

In [343]:
name=("ashish @#%^&")
name.isprintable()

True

# isspace
retuen true when all the characthers in the strings is "whitespace".

In [346]:
name=("     ")
name.isspace()

True

# istitle
return true when every first word of every words i the string is in upper case.

In [349]:
name=("Ashsih Kumar nagar")
name.istitle()

False

# format
this will format or transfer the value of the variables in the output.

In [352]:
name="ASHISH"
age= 22
city= "Delhi"
print(f" Hi {name} your city is{city} and your age is {age}")

 Hi ASHISH your city isDelhi and your age is 22

# isupper
it will return true when all the characthers in the strings is in upper case.

In [355]:
name.

SyntaxError: invalid syntax (3209991573.py, line 1)

# join
it will join all the characthers in the strings using a seperaterlike (@#$%).

In [358]:
name=("ashish","rohan","sumit")
'@'.join(name)

'ashish@rohan@sumit'

# Ljust   

# it will shift the string toward left side and in right side we can give any characther(width,'characther')

In [142]:
list3=("ashish,kumar,nagar")
list3.ljust(45,'@')

'ashish,kumar,nagar@@@@@@@@@@@@@@@@@@@@@@@@@@@'

# lower

# it will return the whole string in lowe case.

In [145]:
list3=("ASHISH,KUMAR,NAGAR")

list3.lower()

'ashish,kumar,nagar'

# lstrip

# it removes the left side space of the string in the variable.

In [148]:
list3=("                 ASHISH,KUMAR,NAGAR")

list3.lstrip()

'ASHISH,KUMAR,NAGAR'

# maketrans

In [151]:
txt = "Hello Sam!"

mytable = str.maketrans("S", "j")

print(txt.translate(mytable))

Hello jam!

# partition


# Partition the string into three parts using the given separator.

This will search for the separator in the string.  If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.

In [154]:
list3=("ASHISH,@KUMAR,NAGAR")              # has seperator.
list3.partition('@')

('ASHISH,', '@', 'KUMAR,NAGAR')

In [156]:
list3=("ASHISH,KUMAR,NAGAR")               # has no seperator.
list3.partition('a')

('ASHISH,KUMAR,NAGAR', '', '')

#  removeprefix ()

# it will remove the prefix of the string ,by providing the PREFIX()

In [159]:
list3=("ASHISH,KUMAR,NAGAR")   # only ASHISH is prefix
list3.removeprefix("ASH")

'ISH,KUMAR,NAGAR'

In [161]:
list3=("ASHISH,KUMAR,NAGAR")       # KUMAR NAGAR is not a prefix
list3.removeprefix("KUMA")

'ASHISH,KUMAR,NAGAR'

# removesuffix ()

#  it will remove the suffix of the string ,by providing the suffix()

In [164]:
list3=("ASHISH,KUMAR,NAGAR") 
list3.removesuffix('AGAR')

'ASHISH,KUMAR,N'

# replace ()


# it will replace the old element with the new element in the string

In [185]:
list3=("ASHISH,KUMAR,NAGAR") 

list3.replace('A','O',)

'OSHISH,KUMOR,NOGOR'

# rfind ()

# S.rfind(sub[, start[, end]]) -> int

Return the highest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.

In [201]:
list3=("ASHISH,KUMAR,'jinga',NAGAR") 
list3.rfind('jinga')

14

# split ()


# Return a list of the substrings in the string, using sep as the separator string.

 # sep
 #   The separator used to split the string.

In [229]:
list3=("ASHISH,KUMAR,NAGAR")

list3.split()

['ASHISH,KUMAR,NAGAR']

# startswith()


# Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.

In [237]:
list3=("ASHISH,KUMAR,NAGAR")

list3.startswith('ASH')

True

# swapcase()


# Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [247]:
list3=("AshIsH,kumAr,NAGAR")

list3.swapcase()

'aSHiSh,KUMaR,nagar'

# title ()


# it will return the string withe first word in upper case and other in lower case.

In [257]:
list3=("ashish,kumar,nagar")

list3.title()

'Ashish,Kumar,Nagar'

# upper ().


# Return a copy of the full string converted to uppercase.

In [277]:
list3=("ashih,kumar,nagar")

list3.upper()

'ASHIH,KUMAR,NAGAR'

# zfill ()

# it fill the left side space with zero(0), by providing (width)

In [287]:
list3=("1,2,3,4,5,6,7,8")
       
list3.zfill(34)

'00000000000000000001,2,3,4,5,6,7,8'